*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

:root{
  font-size: 62.5%;
  --primary-color: hsl(257, 27%, 26%);
  --second-color: hsl(180, 66%, 49%);
  --paragraph: hsl(257, 7%, 63%);
  --very-dark: hsl(255, 11%, 22%);
  --bg-very-dark: hsl(255, 11%, 22%);
  --bg-light: hsl(0, 0%, 95%);
  --atencion: hsl(0, 87%, 67%);
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
  
body,
html{
    width: 100%;
    height: 100%;
}
  
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    overflow: overlay;
    overflow-x: hidden;
}


section{
  padding-block: 5rem;
}

p{
  color: var(--paragraph);
  margin-block: 2rem;
  line-height: 150%;
}

h1,h2,h3{
  color: var(--very-dark);
}

progress::-webkit-progress-value {
  background: var(--second-color)
}
  
.wrapper{
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

.get-started{
  display: block;
  text-decoration: none;
  background-color: var(--second-color);
  color: white;
  padding: 2rem 6rem;
  border-radius: 4rem;
  font-weight: 700;
  max-width: fit-content;
  margin-inline: auto;
  margin-block: 3rem;
}

.hide{
  display: none;
}

header .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

header nav{
  opacity: 0;
  visibility: hidden;
  display: none;
}

nav ul{
  display: flex;
}

nav.active {
  position: absolute;
  width: min(50rem, 90%);
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  visibility: visible;
  display: initial;
  background-color: var(--primary-color);
  border-radius: 1.2rem;
  margin-top: 2rem;
  padding: 1rem;
}

nav ul{
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-block: 3rem;
  gap: 3rem;
}

nav ul .col-a,
nav ul .col-b{
  width: 100%;
}

nav ul .col-b::before{
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--paragraph);
  display: inline-block;
  margin-bottom: 2rem;
}

nav ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 3rem;
}

nav ul li:first-child{
  margin-top: 0;
}

nav ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

nav ul .get-started{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: initial;
  width: 90%;
  margin-block: 0; 
  padding-block: 1.5rem;
}


.one,
.two,
.three {
    background-color: var(--paragraph);
    height: 4px;
    width: 100%;
    margin: 6px auto;

    transition-duration: 0.3s;
}

.menu-toggle {
    width: 40px;
    height: 30px;
}

.menu-toggle:hover{
  cursor: pointer;
}

#home img{ 
  width: 150%;
  margin-block: 2rem;
}

#home h1{
  font-size: 4.5rem;
  text-align: center;
  color: var(--very-dark);
}

#home p{
  text-align: center;
  line-height: 150%;
}

.shorter form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.shorter{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  background-image: url('../images/bg-shorten-mobile.svg');
  background-size: cover;
  background-position: bottom;
  padding: 2rem;
  border-radius: 1rem;
  gap: 1.5rem;
}

.shorter input{
  height: 5rem;
  border-radius: 0.6rem;
  border: none;
  padding-inline: 2rem;
  font-weight: 700;
}

.shorter input:first-child{
  color: var(--very-dark);
  border: 2px solid;
}

.shorter input:nth-child(2){
  background-color: var(--second-color);
  color: white;
  font-size: 1.8rem;
}

.shorter span{
  display: none;
  position: absolute;
  bottom: 7rem;
  color: var(--atencion);
  font-size: 14px;
}

.card-link{
  background-color: white;
  width: 100%;
  padding-block: 1rem;
  border-radius: 1rem;
  padding: 5%;
  margin-top: 2rem;
}

.card-link p{
  margin: initial;
  margin-bottom: 1rem;
}

.card-link p{
  color: var(--second-color);
  text-align: left;;
}

.card-link p:first-of-type{
  color: var(--very-dark);
  text-align: left;
}

.card-link p:nth-of-type(2):before{
  content: '';
  position: relative;
  width: 110%;
  left: -5%;
  height: 1px;
  background-color: var(--bg-light);
  display: inline-block;
  margin-bottom: 1rem;
}

.card-link button{
  border-radius: 4rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: initial;
  width: 100%;
  margin-block: 0; 
  padding-block: 1.5rem;
  border-radius: 0.6rem;
  border: none;
}

#advicedStatistics{
  text-align: center;
  background-color: var(--bg-light);
  margin-top: -8rem;
  padding-top: 8rem;
}

#advicedStatistics .title h2{
  margin-top: 10rem;
}

#advicedStatistics .cards {
  margin-top: 8rem;
}

#advicedStatistics .cards .card{
  background-color: white;
  padding: 3rem;
  padding-top: 0;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

#advicedStatistics .cards .card .back-card{
  background-color: var(--primary-color);
  width: fit-content;
  margin-inline: auto;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -5rem;

}

#advicedStatistics .cards .card .back-card img{
 height: 4rem;
}

#advicedStatistics .separator{
  height: 10rem;
  width: 1rem;
  background-color: var(--second-color);
  margin-inline: auto;
  position: relative;
  top: -2rem;
}

section#footer{
  background-color: var(--primary-color);
  background-image: url('../images/bg-boost-mobile.svg');
  background-size: cover;
  padding: 8rem 4rem;
}

section#footer h2{
  color: white;
  font-size: 3rem;
  text-align: center;
}

footer{
  background-color: var(--bg-very-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 5rem;
}

footer a svg path{
  fill: #ffffff;
}

footer h3{
  color: white;
  text-align: center;
  padding-bottom: 2.5rem;
}

footer ul{
display: flex;
flex-direction: column;
align-items: center;
}

footer ul li{
 list-style: none;
}

footer ul li{
  padding-top: 1rem;
}

footer ul li a{
  text-decoration: none;
  color: var(--paragraph);
}

footer .social-media{
  flex-direction: row;
  gap: 2.5rem;
}

@media (min-width: 1024px){

  .wrapper{
    width: 80%;
  }

 .get-started:hover{
    color: white;
    background-color: hsl(180, 66%, 70%);
  }

  .col-a{
    grid-area: a;
  }

  .col-b{
    grid-area: b;
  }

  header{
    margin-top: 3rem;
  }

  header .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header .content{
    margin-top: 0;
  }
    
  header nav{
    position: initial;
    width: fit-content;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  header nav ul{
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    gap: 0;
  }

  header nav ul .col-b::before{
    display: none;
  }

  header nav ul .col-a,
  header nav ul .col-b{
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  header nav ul .col-a li,
  header nav ul .col-b li{
    margin: 0;
    padding: 0;
  }

  header nav ul .col-b {
    justify-content: flex-end;
  }

  header nav ul .col-a li:first-of-type{
    margin-left: 4rem;
  }

  header nav ul li a{
    color: var(--paragraph);
    transition: .2s;
  }

  header nav ul li a:hover{
    color: var(--very-dark);
  }

  header nav ul .get-started{
    width: initial;
    padding-inline: 3rem;
    padding-block: 1rem;
  }

  .menu-toggle{
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  
  main section#home .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'b a';
  }

  main section#home .wrapper .col-a img{
    width: 130%;
    margin-left: 10rem;
  }

  main section#home .wrapper .col-b{
    align-self: center;
  }

  main section#home .wrapper .col-b p,
  main section#home .wrapper .col-b h1{
    text-align: left;
    width: 95%;
  }

  main section#home .wrapper .col-b h1{
    font-size: 6rem;
    line-height: 120%;
  }

  main section#home .wrapper .col-b a{
    margin-inline: initial;
  }

  main section#home .get-started{
    transition: .2s;
  }

  main .shorter{
    width: 100%;
    padding: 5rem;
  }

  main .shorter input{
  height: 6rem;
  font-size: 2.4rem;
}


  main .shorter form{
    flex-direction: row;
  }

  main .shorter input:nth-child(2){
    width: 20rem;
  }

  main .shorter input:nth-child(2):hover{
    cursor: pointer;
    background-color: hsl(180, 66%, 70%);
    transition: .2s;
  }
  
  main .shorter input:first-child{
    width: 100%;
  }

  .shorter span{
    bottom: 2rem;
  }

  #advicedStatistics{
    margin-top: -7.5rem;
    padding-top: 7.5rem;
  }

  main .cards-link .card-link{
    display: flex;
    padding: 1% 2%;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
  }

  main .cards-link .card-link button{
  margin-inline: initial;
  width: 10%;
  margin-left: 2rem;
  }

  main .cards-link .card-link button:hover{
    cursor: pointer;
  }

  main .cards-link .card-link p{
    margin: 0;
  }

  main .cards-link .card-link p:first-of-type{
    text-align: left;
    width: 100%;
    padding-right: 7rem;
  }

  .card-link p:nth-of-type(2):before{
    display: none;
  }

  #advicedStatistics .title h2{
    margin-inline: auto;
    font-size: 4rem;
  }

  #advicedStatistics .title p{
    margin-inline: auto;
    text-align: center;
    width: 50%;
  }

  #advicedStatistics .cards{
    display: flex;
    text-align: left;
    gap: 2rem;
  }

  #advicedStatistics .cards .card{
    z-index: 1;
  }

  #advicedStatistics .cards .card:first-of-type{
    height: fit-content;
  }

  #advicedStatistics .cards .card:nth-of-type(3){
    margin-top: 5rem;
    height: fit-content;
  }

  #advicedStatistics .cards .card:nth-of-type(5){
    margin-top: 10rem;
  }

  #advicedStatistics .cards .card .back-card{
    margin-inline: initial;
    border-radius: 50%;; 
  }

  #advicedStatistics .cards h3{
    margin-top: -2rem;
  }

  #advicedStatistics .cards p{
    font-size: 1.4rem;
  }

  #advicedStatistics .separator{
    width: 2rem;
    top: 10rem;
    transform:rotate(90deg);
    z-index: 0;
  }
  
  section#footer a:hover{
    transition: .2s;
  }

  footer{
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 10rem;
    align-items: flex-start;
  }

  footer section{
    padding: 0;
  }

  footer section ul li a:hover{
    color: var(--second-color);
    transition: .2s;
  }

  footer a svg path:hover{
    fill: var(--second-color);
    transition: .2s;
  }

}